.resize {
  transform: scale(.7);
}
body{
  background-color: #232b2b;
}
 .list{
  text-align: center;
 }

 
h1{
  font-size: 3em;
  text-align: center;
  color:white;
}

h2{
  color:white;
  font-size: .7em;
}

ul{
  display: inline-block;
  text-align: center;
  width:50%;
  
  margin:0%;
}

li{

  background-color: lightslategray;
  border: 2px solid black;
  list-style-type: none;
  margin:.5%;
  
 

}

.tf{
  background-color: lightgrey;
  width:30%;
  
  
}